body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

#clavier {
    height: 30%;
    width: 50%;
    display: flex;
    /* border: solid red 1px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.row {
    display: flex;
    flex: 1;
    gap: 4px;
    /* border : blue solid 1px; */
}

.button {
    flex: 1;
    display: flex;
    border-radius: 5px;
    border: solid black 1px;
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.Enter,
.Delete {
    border: none;
    background-color: transparent;
    box-shadow: none;
}

.button:hover {
    box-shadow: 5px 5px 15px 5px rgba(120, 38, 80, 0);
    -webkit-box-shadow: 4px -4px 15px 0px #FF1F1F, 12px -11px 7px 0px #FF9376, 20px -5px 7px 0px #FFE264, 20px 6px 7px 0px #F6FF33, 13px 12px 17px 0px #FF9527, 2px 17px 17px 0px #FF0000, -9px 21px 18px 0px #FFF212, -9px 6px 11px 0px #FF0808, -11px -9px 11px 0px #FFFA17, -11px -9px 11px 0px #FFFA17, 5px 5px 15px 5px rgba(255, 31, 145, 0);
    box-shadow: 4px -4px 15px 0px #FF1F1F, 12px -11px 7px 0px #FF9376, 20px -5px 7px 0px #FFE264, 20px 6px 7px 0px #F6FF33, 13px 12px 17px 0px #FF9527, 2px 17px 17px 0px #FF0000, -9px 21px 18px 0px #FFF212, -9px 6px 11px 0px #FF0808, -11px -9px 11px 0px #FFFA17, -11px -9px 11px 0px #FFFA17, 5px 5px 15px 5px rgba(255, 31, 145, 0);
    transform: scale(1.01);
}